{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}

include /etc/nginx/vhost_expires;
include /etc/nginx/vhost_cache-fd;
include /etc/nginx/vhost_protect-files;
include /etc/nginx/vhost_security;
